<h1>Home Page</h1>

<div>
    <h4>File Upload</h4>
    <form asp-controller="Transaction" asp-action="File"
          enctype="multipart/form-data" method="post">
        <input type="file" name="file" />
        <button type="submit">Submit</button>
    </form>
</div>
